
.one h2{
    color: cornflowerblue;

}
.one{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    

}
button{
    background-color:blue;
}
.three{
    justify-content: center;
    text-align: center;
}
footer{
    text-align: center;
    justify-content: center;
    background-color: darkgray;
}
