body{
    background-color: bisque;

}
h1 {
    background-color: blue;
    color: floralwhite;
    text-align: center;


}


h2 {
    background-color: brown;
    color: floralwhite;



}

h3 {
    background-color: cornflowerblue;
    color: floralwhite;



}
h4{
    background-color: black;
    color: floralwhite;
}
h5{
    background-color: brown;
    color: floralwhite;
}




